.result_table_greed {
    display: grid;
    grid-template-columns: 15% 15% 10% 15% 10% 15% 20%;
    overflow: hidden;

    a:hover{
        text-decoration: underline;
    }

    a{
        color: $greencolor;
        text-decoration: none;
    }

    .th,.td {
        padding: 7px 20px;
        word-wrap: break-word;
    }

    .th {
        background-color: $greencolor;
        color: white;
        font-weight: 600;
    }

    &.top-round {
        border-radius: 10px 10px 0 0 ;
    }

}

.t_body {
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    .result_table_greed:nth-child(2n){
        background-color: #e0e2dc;
    }

    .result_table_greed{
        background-color: #eae6d2
    }

    .search_faild {
        padding: 10px 0;
        text-align: center;
        grid-column: 1/9;
    }
}



.mobile_caption {
    display: none;
}
