@import "null";
@import "fonts";

$greencolor: #7eaf00;
$graycolor: #f9f9fd;

body {
    font-family: 'Source Sans 3', sans-serif;
}

section {
    width: 100%;
    padding: 20px 0;
}


._container {
    width: 90%;
    margin: auto;
}

.organization_list {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;

    label {
        border:1px solid #7eaf00;
        color: #7eaf00;
        overflow: hidden;
        border-radius: 10px;
        margin-right: 10px;
        margin-bottom: 10px;

        &.selected,
        input:checked ~ span{
            background-color: #7eaf00;
            color:white;
        }

        span{
            padding: 5px 10px;
            display: block;
        }

        input {
            display: none
        }
    }
}

@import "header";
@import "searchform";
@import "result-table";
